.header{

height:80px;

background:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 30px;

border-bottom:1px solid #e5e7eb;

}

.left h2{

margin:0;

font-size:28px;

}

.left p{

margin-top:5px;

color:#64748b;

}

.right{

display:flex;

align-items:center;

gap:18px;

}

.search{

display:flex;

align-items:center;

gap:10px;

background:#f8fafc;

padding:12px 18px;

border-radius:14px;

width:320px;

}

.search input{

border:none;

background:none;

outline:none;

width:100%;

}

.icon-btn{

position:relative;

height:46px;

width:46px;

border:none;

background:#f8fafc;

border-radius:14px;

cursor:pointer;

font-size:20px;

}

.notification span{

position:absolute;

top:-5px;

right:-5px;

background:#ef4444;

color:white;

width:22px;

height:22px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:11px;

}

.profile img{

width:46px;

height:46px;

border-radius:50%;

cursor:pointer;

}