##############################
# Visual Studio
##############################

.vs/
bin/
obj/

##############################
# Rider / VS Code
##############################

.idea/
.vscode/

##############################
# Node
##############################

node_modules/

##############################
# Angular
##############################

.angular/
dist/

##############################
# Logs
##############################

*.log

##############################
# Environment Files
##############################

.env
.env.*

##############################
# SQL
##############################

*.mdf
*.ldf

##############################
# OS Files
##############################

Thumbs.db
.DS_Store

##############################
# User Files
##############################

*.user
*.suo

##############################
# Publish
##############################

publish/

##############################
# Packages
##############################

packages/

##############################
# Test Results
##############################

TestResults/