.sidebar{

width:290px;

background:#0f172a;

color:white;

display:flex;

flex-direction:column;

justify-content:space-between;

padding:24px;

height:100vh;

}

.logo{

display:flex;

align-items:center;

gap:15px;

margin-bottom:40px;

}

.logo-icon{

height:56px;

width:56px;

background:linear-gradient(135deg,#6366f1,#8b5cf6);

display:flex;

align-items:center;

justify-content:center;

border-radius:18px;

font-size:26px;

}

.logo h2{

margin:0;

font-size:22px;

}

.logo small{

color:#94a3b8;

}

nav{

display:flex;

flex-direction:column;

gap:8px;

}

.menu{

display:flex;

align-items:center;

gap:15px;

padding:14px 18px;

border-radius:14px;

text-decoration:none;

color:#cbd5e1;

transition:.25s;

}

.menu:hover{

background:#1e293b;

color:white;

}

.active{

background:linear-gradient(90deg,#6366f1,#7c3aed);

color:white;

}

.icon{

font-size:22px;

}

.premium{

background:linear-gradient(135deg,#312e81,#6d28d9);

padding:20px;

border-radius:20px;

margin-bottom:20px;

}

.premium button{

margin-top:15px;

width:100%;

padding:12px;

border:none;

border-radius:12px;

background:white;

font-weight:600;

cursor:pointer;

}

.user{

display:flex;

align-items:center;

gap:12px;

padding-top:20px;

border-top:1px solid #334155;

}

.user img{

width:52px;

height:52px;

border-radius:50%;

}