.auth-page{

min-height:100vh;

display:flex;

align-items:center;

justify-content:center;

padding:40px;

background:

linear-gradient(135deg,#eef2ff,#f8fafc,#ecfeff);

overflow:hidden;

position:relative;

}

.auth-page::before{

content:"";

position:absolute;

width:500px;

height:500px;

border-radius:50%;

background:#6D5EF522;

left:-150px;

top:-120px;

filter:blur(80px);

animation:blob 18s infinite alternate;

}

.auth-page::after{

content:"";

position:absolute;

width:450px;

height:450px;

border-radius:50%;

background:#06B6D422;

right:-120px;

bottom:-120px;

filter:blur(100px);

animation:blob 20s infinite alternate;

}

.auth-wrapper{

max-width:1350px;

width:100%;

display:grid;

grid-template-columns:1fr 500px;

gap:60px;

align-items:center;

z-index:2;

}

@media(max-width:992px){

.auth-wrapper{

grid-template-columns:1fr;

}

.hero{

display:none;

}

}